{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>	
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}" />	
	{% block head %}{% endblock %}
</head>
	<body>
	<header class="header">
		<a href="{% url 'index' %}" class="header_a">主页</a>						
		<a href="{% url 'passages' '1' %}" class="header_a">我的文章</a>
		<a href="http://182.254.132.38:88/" class="header_a">留言板 </a>
		<a href="{% url 'about' %}" class="header_a">关于我</a>	
		<a href="http://lichunown.github.io/" class="header_a">github.io</a>	
		<a style="float:right;" href="{% url 'oauth_tencent' %}"><img src="{% static 'oauth/Connet_logo_1.png' %}">QQ登录</a>
	</header>
	<div class="beforecontent">
		{% block beforecontent %}
	{% endblock %}
	</div>
	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
	</body>
</html>

