{% extends "base.html" %}
{% load staticfiles %}
{%block title%}{{passage.title}}-LCY's Blog{% endblock %}
{% block head %}
<link href="{% static 'main/css/prism.css' %}" rel="stylesheet" />
<script src="{% static 'main/js/prism.js' %}"></script>
{% endblock %}

{%block content%}
<div class="passage"> 
	<h2>{{passage.title}}</h2>
	{% if request.user.is_authenticated %}
	<a href="{% url 'change' passage.id %}"><button>修改</button></a>
	{% endif %}
	<div class="passage-info">{{passage.info}}</div>
	<div class="passage-time">发布时间：{{passage.time}}</div>
	{% if passage.changetime %}<div class="passage-time">上次修改：{{passage.changetime}}</div>{% endif %}
	<br><br>
	<div class="passage-body">{{passage.body|safe}}</div>
</div>
<a name="comments"></a>	
<div class="comment">	
	<h4>评论</h4>
	<div class="comment=list">	
	{% for comment in comments %}
		<h5>
		{% if not comment.ifhideip %}
			{{comment.ip}}{% else %}匿名用户{% if request.user.is_authenticated %}{{comment.ip}}{% endif %}
		{% endif %}
		</h5>
		<div class="comment-body">
		{% if comment.ifsafe %}{{comment.body|safe}}{% else %}{{ comment.body }}{% endif %}

		</div>
		<div class="comment-time">{{comment.time}}</div>
	{% empty %}
		<p>there's no comments</p>
	{% endfor %}
	</div>
	<br/><br/>
	<div class="page-content">
		{% if beforepage %}
			&nbsp;<a href="{% url 'passage' passage.id 1 %}#comments">首页</a>&nbsp;
			&nbsp;<a href="{% url 'passage' passage.id beforepage %}#comments">上一页</a>&nbsp;
		{% endif %}
		{% for pages in betweenpagesbefore %}
			&nbsp;<a href="{% url 'passage' passage.id pages %}#comments">{{ pages }}</a>&nbsp;
		{% endfor %}
			&nbsp;{{page}}&nbsp;
		{% for pages in betweenpagesnext %}
			&nbsp;<a href="{% url 'passage' passage.id pages %}#comments">{{ pages }}</a>&nbsp;
		{% endfor %}
		{% if nextpage %}				
			&nbsp;<a href="{% url 'passage' passage.id nextpage %}#comments">下一页</a>&nbsp;
			&nbsp;<a href="{% url 'passage' passage.id allpagenum %}#comments">尾页</a>&nbsp;
		{% endif %}
	</div>
</div>
<div class="addcomment">
	<form method="POST">
		{% csrf_token %}
		<h4>回复</h4>
		{% if error %}<p style="color:red;">
		{% ifequal error 'none' %}回复内容不能为空白{% endifequal %}
		{% ifequal error 'script' %}HTML中就不要写script了……{% endifequal %}
		</p>{% endif %}
		<label for="ifhideip">隐藏IP</label><input type="checkbox" name="ifhideip" id="ifhideip">
		&nbsp;&nbsp;&nbsp;
		<label for="ifsafe">使用HTML</label><input type="checkbox" name="ifsafe" id="ifsafe">
		<br>
		<textarea name="body">{% if error %}{{body}}{% endif %}</textarea>
		<br>
		<input type="submit" value="submit">
	</form>
</div>
{% if request.user.is_authenticated %}<br><br><div>访问数：{{passage.accessamount.amount}}</div>{%endif%}
{%endblock%}
